USE [master]
GO
/****** Object:  Database [elist]    Script Date: 12/15/2025 1:37:55 AM ******/
CREATE DATABASE [elist]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'elist', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\elist.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'elist_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\elist_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [elist].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [elist]
GO
/****** Object:  Table [dbo].[Tasks]    Script Date: 12/15/2025 1:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tasks](
	[task_id] [uniqueidentifier] NOT NULL,
	[task_name] [nvarchar](100) NOT NULL,
	[task_description] [nvarchar](1000) NULL,
	[task_created] [datetime] NULL,
	[task_isactive] [bit] NULL,
	[due_date] [datetime] NULL,
 CONSTRAINT [PK_task_id] PRIMARY KEY CLUSTERED 
(
	[task_id] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[deleteActiveTasks]    Script Date: 12/15/2025 1:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* set active task to inactive*/
CREATE PROCEDURE [dbo].[deleteActiveTasks]
@task_id uniqueidentifier
AS
BEGIN 
UPDATE Tasks
SET task_isactive =  0
WHERE task_id = @task_id
END
GO
/****** Object:  StoredProcedure [dbo].[getActivetask]    Script Date: 12/15/2025 1:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getActivetask]
AS 
BEGIN
SELECT task_id,task_name, task_description,
task_created, due_date,
ISNULL(task_isactive, 1) AS ISACTIVE
FROM Tasks
WHERE task_isactive = 1
ORDER BY task_created DESC
END
GO
/****** Object:  StoredProcedure [dbo].[getAlltask]    Script Date: 12/15/2025 1:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* get all task*/
CREATE PROCEDURE [dbo].[getAlltask]
AS
BEGIN
SELECT task_id,
task_name,task_description,
task_created, due_date,
ISNULL(task_isactive, '') AS ISACTIVE
FROM Tasks ORDER BY task_created DESC
END
GO
/****** Object:  StoredProcedure [dbo].[getInactivetask]    Script Date: 12/15/2025 1:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getInactivetask]
AS
BEGIN
SELECT task_id,task_name, task_description,
due_date,
ISNULL(task_isactive, 0) AS ISACTIVE
FROM Tasks WHERE task_isactive = 0
ORDER BY task_created DESC
END
GO
/****** Object:  StoredProcedure [dbo].[getTaskbyName]    Script Date: 12/15/2025 1:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getTaskbyName]
@task_name NVARCHAR(100)
AS
BEGIN
SELECT task_id,
task_name, task_description,
task_created, due_date,
ISNULL(task_isactive, 1) AS ISACTIVE
FROM Tasks
WHERE task_name = @task_name
END
GO
/****** Object:  StoredProcedure [dbo].[getTasksbyId]    Script Date: 12/15/2025 1:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[getTasksbyId]
@task_id UNIQUEIDENTIFIER
AS
BEGIN
SELECT task_id,
task_name,task_description,
task_created, due_date,
ISNULL(task_isactive, 1) AS ISACTIVE
FROM Tasks
WHERE task_id = @task_id
END
GO
/****** Object:  StoredProcedure [dbo].[insertNewTask]    Script Date: 12/15/2025 1:37:55 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* insert new task */
CREATE PROCEDURE [dbo].[insertNewTask]
(
@task_id UNIQUEIDENTIFIER,
@task_name NVARCHAR(100),
@task_description NVARCHAR(1000),
@due_date DATETIME,
@task_isactive BIT
)
AS
BEGIN

IF EXISTS(SELECT task_id FROM Tasks WHERE task_id = @task_id)
BEGIN
UPDATE Tasks
SET task_name = @task_name,
task_description = @task_description,
task_isactive = @task_isactive,
task_created = GETDATE(),
due_date = @due_date
WHERE task_id = @task_id
END

ELSE
BEGIN
INSERT INTO Tasks(task_id, task_name, task_description, task_isactive, task_created, due_date)
VALUES(NEWID(), @task_name, @task_description, 1, GETDATE(), @due_date)
END

END

GO
USE [master]
GO
